<?xml version="1.0"?>
<!--
  ~ @copyright Copyright © Novicell ApS. All rights reserved.
  ~ @license   proprietary
  ~ @link      https://www.novicell.dk/
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <novicell_csp>
            <general>
                <enable>1</enable>
            </general>
        </novicell_csp>
    </default>
</config>
